<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="2.0.229" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net452" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net452" />
</packages>